<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap');
        html {
            height: 100%;
            width: 100%;
        }
        body {
            background: linear-gradient(135deg, #000, #434343);
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Nunito';
            overflow: hidden;
        }
        main {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h1, h2, h3 {
            text-align: center;
            color: orange;
        }
        h1 {
            text-transform: uppercase;
            font-size: 52px;
        }
        h2 {
            text-transform: uppercase;
            font-size: 36px;
        }
        h3 {
            font-size: 28px;
        }
        a {
            color: inherit;
        }
        a:hover {
            color:dodgerblue !important;
        }
        a:visited {
            color: inherit;
        }
    </style>
    <title>Error 404!</title>
</head>
<body>
    <main>
        <h1>Error 404</h1>
        <h2>Woops. Looks like this page doesn't exist.</h2>
        <h3><a href="/logout">Click here to go back to the login page</a></h3>
    </main>     
</body>
</html>